.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  @include xs-block {
    flex-direction: column;
    margin-top: 30px;
  }
  &__item {
    @include size(5.8);
    padding-bottom: 48px;
    @include xs-block {
      width: 100%;
    }
  }
  &__title {
    position: relative;
    margin-bottom: 19px;
    padding-bottom: 18px;
    font-family: $romul;
    font-size: 25px;
    text-align: center;
    @include sm-block {
      font-size: 15px;
    }
    @include xs-block {
      font-size: 15px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -50%);
      width: 90px;
      height: 1px;
      background-color: $accent;
    }
  }
  &__description {
    margin-bottom: 27px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    p {
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__button {
    width: 275px;
    font-size: 16px;
    border: 2px solid #2f2c34;
  }
  &__media {
    position: relative;
    height: 235px;
    overflow: hidden;
    @include sm-block {
      height: 155px;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    text-align: center;
    padding-top: 18px;
  }
}