// .degubGrid{
//     @include debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
// }

.wrapper {
	position: relative;
  width: 100%;
  height: 100%;
}

.container {
  @include wrapper();
}

.button {
  display: inline-block;
  padding: 6px 25px;
  font-family: $default-font;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgb(47, 44, 52);
  cursor: pointer;
  color: $text;
  transition: all linear .2s;
  &:hover {
    background: $accent;
    color: #ffffff;
    border-color: $accent;
  }
}